.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

*.apk
*.ap_

*.dex

bin/
gen/
.settings/
local.properties
.classpath
.project
.idea
out
*.iml
.svn

.gradle/
build/
gradle/

.sonar/

changelog.xml
gradle.properties